@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

$font-stack: Roboto;
$break-small: 500px;

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=appearance-for-all
  -webkit-appearance: none
  -moz-appearance:    none
  -ms-appearance:     none
  appearance:         none

html,
body,
h1,
p
	margin: 0;
	padding: 0;

p
	color: #444;

h1
	font-family: $font-stack;
	font-weight: 400;
	font-size: 24px;
	text-align: center;

input,
select,
button
	outline: none;

.align-block
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 60px;

.main-block 
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;

.main-block_left-part
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	margin-top: 30px;

.left-part-first-block,
.left-part-second-block,
.left-part-third-block,
.left-part-fourth-block
	display: flex;

.left-part-fourth-block
	margin-right: auto;

.input-title
	font-family: $font-stack;
	font-weight: 700;
	font-size: 14px;
	margin-top: 9px;
	margin-right: 15px;

.forminput
	height: 28px;
	border: 1px solid #ccc;
	+border-radius(3px)
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	padding-left: 10px;
	font-size: 14px;
	background-color: #fff;
	margin-bottom: 20px;

.forminput.first-name
	margin-right: 10px;

.card-input
	margin-right: 13px;

.forminput.card-input,
.card-date
	margin-right: 14px;

.long-input
	width: 150px;

.card-input
	letter-spacing: 0.5px;

.card-date
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 162px;

.input-month
	width: 64px;
	height: 32px;
	color: #888;
	background-image: url("../src/img/arrow-down.png");
	background-repeat: no-repeat;
	background-position: 42px 12px;
	margin-bottom: 0;
	+appearance-for-all

.input-year
	width: 77px;
	height: 32px;
	color: #888;
	margin-bottom: 0;
	background-image: url("../src/img/arrow-down.png");
	background-repeat: no-repeat;
	background-position: 57px 12px;
	+appearance-for-all

.credit-cards-pics
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
	margin-bottom: 22px;
	width: 162px;

.exp-date-block
	display: flex;

.cvv-block
	display: flex;
	width: 162px;

.cvv-block__title
	margin-right: auto;
	font-family: $font-stack;
	font-weight: 700;
	font-size: 14px;

.cvv-block__input
	background-image: url("../src/img/info-icon.png");
	background-repeat: no-repeat;
	background-position: 60px 9px;
	width: 72px;
	height: 28px;
	letter-spacing: 0.5px;
	margin-bottom: 0;

.paypal-block
	display: flex;
	align-items: center;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	+border-radius(3px)
	margin-bottom: 20px;
	width: 335px;

.paypal-block__text
	margin-right: auto;
	padding: 25px 20px;
	font-family: $font-stack;
	font-weight: 400;
	font-size: 16px;

.paypal-block__button
	background: url("../src/img/paypal.png");
	width: 100px;
	height: 38px;
	margin-right: 15px;
	border: none;

.startsb
	width: 335px;
	height: 42px;
	background-color: #ff9000;
	border: 1px solid #fd7722;
	+border-radius(3px)
	color: #fff;
	font-family: $font-stack;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;

.main-block_right-part
	border: 1px solid #ddd;
	padding: 18px 16px;
	width: 300px;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
	margin-left: 40px;
	margin-top: 30px;

.order-summary
	font-family: $font-stack;
	font-size: 16px;
	font-weight: 700;

.order-block
	text-align: left;
	margin-top: 16px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;

.order-block-row
	display: flex;

.order-block-row > p:first-child
	margin-right: auto;

.price
	font-family: $font-stack;
	font-size: 14px;
	font-weight: 700;

.business-annual,
.bigger-price
	margin-bottom: 12px;
	font-family: $font-stack;
	font-size: 16px;
	font-weight: 700;

.user-count
	padding-bottom: 22px;
	border-bottom: 1px solid #ccc;
	font-family: $font-stack;
	font-size: 14px;
	font-weight: 400;

.subtotal-block
	margin-top: 21px;
	margin-bottom: 14px;

.subtotal-block__text,
.estimated-taxes__text
	font-family: $font-stack;
	font-size: 16px;
	font-weight: 400;

.total-due
	display: flex;
	margin-top: 22px;

.price-due
	font-family: $font-stack;
	font-size: 20px;
	font-weight: 400;
	margin-right: 20px;

.total-due__text,
.bigger-price-due
	margin-right: auto;
	font-family: $font-stack;
	font-size: 24px;
	font-weight: 400;

.credit-cards-pics_mobile
	display: none;

@media only screen and (max-width: $break-small)
	h1
		font-size: 18px;

	.align-block
		margin-top: 35px;

	.main-block_right-part
		margin-left: 0;
		margin-top: 25px;
		width: 256px;

	.main-block_left-part
		align-items: center;
		margin-top: 23px;

	.order-summary,
	.business-annual, 
	.bigger-price,
	.subtotal-block__text, 
	.estimated-taxes__text
		font-size: 14px;

	.total-due__text, 
	.bigger-price-due
		font-size: 20px;

	.total-due
		margin-top: 15px;

	.price
		font-size: 12px;

	.price-due
		font-size: 16px;

	.credit-cards-pics_mobile
		width: 225px;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;

	.input-title
		margin-top: 0;
		margin-bottom: 10px;

	.long-input
		width: 128px;

	.forminput
		margin-bottom: 15px;

	.forminput.first-name
		margin-right: 10px;

	.forminput.zip-input
		margin-bottom: 20px;

	.forminput.input-month,
	.forminput.input-year,
	.forminput.cvv-block__input
		margin-bottom: 0;

	.left-part-first-block,
	.left-part-second-block,
	.left-part-fourth-block
		flex-flow: column;

	.left-part-second-block,
	.left-part-third-block,
	.left-part-fourth-block,
	.paypal-block,
	.startsb
		width: 290px;

	.long-input.card-input,
	.long-input.zip-input
		width: 280px;

	.exp-date-block
		flex-flow: column;

	.cvv-block
		flex-flow: column;

	.cvv-block__title
		margin-right: 0;
		text-align: center;

	.cvv-block__input
		width: 100px;
		background-position: 90px 9px;

	.credit-cards-pics
		display: none;

	.paypal-block__text,
	.startsb
		font-size: 14px;

	.startsb
		margin-bottom: 40px;